[submodule "src/util"]
	path = src/util
	url = https://github.com/mojyack/cutil.git
[submodule "submodules/tinyxml"]
	path = submodules/tinyxml
	url = https://github.com/mojyack/tinyxml.git
[submodule "submodules/cutil"]
	path = submodules/cutil
	url = https://github.com/mojyack/cutil.git
[submodule "submodules/cutil-macros"]
	path = submodules/cutil-macros
	url = https://github.com/mojyack/cutil-macros.git
